
.input_field:focus {
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to left, #15BFFD, #9C37FD)1;
    transition: all .5s;
}


.input_field::placeholder {
    color: #A2CBFB;
}

.input_field::before {
    content: '';
    position: absolute;
    top: 0px;
    background: linear-gradient(#15BFFD, #9C37FD);
    border-radius: 80px;
    z-index: -1;
}

.input_field {
    position: relative;
    flex-direction: row;
    width: 99%;
    padding: 24px;
    background: rgba(255, 255, 255, 0.05);
    outline: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #A2CBFB;
    font-size: 16px;
    line-height: 140%;
    box-sizing: border-box;
    align-items: flex-start;
    border: none;
    border-style: solid;
    border-image: linear-gradient(to right, #15BFFD, #9C37FD)1;
    border-width: 1px;
    margin-top: 16px;
}

