.main {
  background-color: #0c102d;
  width: 100vw;
  height: 100vh;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 20px;
  width: 80%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  /* border-style: solid;
  border-image: linear-gradient(to right, #15bffd, #9c37fd) 1;
  border-width: 1px; */
  border-radius: 8px;
  padding: 56px 0 56px 0;
  animation-name: border_animation;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transition: 0.4s;
  animation-direction: reverse;
}

.window:before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(to right, #15bffd, #9c37fd);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes border_animation {
  0% {
  }

  40% {
    box-shadow: 1px 1px 4px 4px #15bffd;
  }

  60% {
    box-shadow: 1px 1px 4px 4px #9c37fd;
  }

  80% {
    box-shadow: 1px 1px 4px 4px #15bffd;
  }

  100% {
    box-shadow: 1px 1px 4px 4px #9c37fd;
  }
}
